<app-page-heading headingText="Settings"></app-page-heading>
<div class="content">
  <ng-container *ngIf="settings; else loadingSettings">
    <form (ngSubmit)="onSettingsChange(settingsForm)" #settingsForm="ngForm">
      <label for="showHeader">
        <input type="checkbox" name="showHeader" [(ngModel)]="settings.showHeader" id="showHeader" [checked]="settings.showHeader" #showHeader>
        <app-icon *ngIf="showHeader.checked" icon="check_box"></app-icon>
        <app-icon *ngIf="!showHeader.checked" icon="check_box_outline_blank"></app-icon>
        Show Header
      </label>
      <br>
      <input type="submit" value="Save Changes">
    </form>
  </ng-container>
  <ng-template #loadingSettings>
    <p>Loading settings...</p>
  </ng-template>
  <hr>
  <button (click)="logoutUser()">Logout</button>
</div>