<app-page-heading headingText="Settings"></app-page-heading>
<div class="content">
  <ng-container *ngIf="settingsService.settings$ | async as settings; else loadingSettings">
    <form #settingsForm="ngForm">
      <label for="showHeader">
        <input #showHeader
          type="checkbox"
          name="showHeader"
          id="showHeader"
          [(ngModel)]="settings.showHeader"
          [checked]="settings.showHeader"
          (change)="onSettingsChange(showHeader.name, showHeader.checked)"
          >
        <app-icon *ngIf="showHeader.checked" icon="check_box"></app-icon>
        <app-icon *ngIf="!showHeader.checked" icon="check_box_outline_blank"></app-icon>
        Show Header
      </label>
      <br>
      <!-- <input type="submit" value="Save Changes"> -->
    </form>
  </ng-container>
  <ng-template #loadingSettings>
    <p>Loading settings...</p>
  </ng-template>
  <hr>
  <button (click)="logoutUser()">Logout</button>
</div>