<ng-container *ngIf="listInfo">
    <ng-container *ngIf="!isModalOpen; else noBackButton">
        <app-page-heading
            [headingText]="listInfo.name"
            [buttons]="!IDParam || IDParam === accountService.currentUserID ? ['edit', 'forms_add_on'] : []"
            [imageURL]="IDParam && IDParam !== accountService.currentUserID ? listInfo.owner.pfp : null"
            (onIconClick)="onIconClick($event)"
            (onBackButton)="goBack()"
            >
        </app-page-heading>
    </ng-container>
    <ng-template #noBackButton>
        <app-page-heading
            [headingText]="listInfo.name"
            [buttons]="!IDParam || IDParam === accountService.currentUserID ? ['edit', 'forms_add_on'] : []"
            [imageURL]="IDParam && IDParam !== accountService.currentUserID ? listInfo.owner.pfp : null"
            (onIconClick)="onIconClick($event)"
            >
        </app-page-heading>
    </ng-template>
</ng-container>
<div class="list">
    <app-list-display
        [list]="listInfo"
        (onGiftInModal)="isModalOpen = $event"
    >
    </app-list-display>
</div>
<div *ngIf="!IDParam || IDParam === accountService.currentUserID" [ngClass]="{'delete-button': true, 'modal-open': isModalOpen }">
    <app-pop-up
        class="btn-red"
        buttonText="Delete List"
        buttonIcon="delete_forever"
        title="Are you sure you want to delete this list?"
        body="This cannot be undone."
        confirmText="Delete"
        (onConfirm)="deleteList()"
    ></app-pop-up>
</div>