<ng-container *ngIf="listInfo">
    <ng-container *ngIf="!isModalOpen; else noBackButton">
        <app-page-heading
            [headingText]="listInfo.name"
            [buttons]="!IDParam || IDParam === accountService.currentUserID ? ['edit', 'forms_add_on'] : []"
            [imageURL]="IDParam && IDParam !== accountService.currentUserID ? listInfo.owner.pfp : null"
            (onIconClick)="onIconClick($event)"
            (onBackButton)="goBack()"
            >
        </app-page-heading>
    </ng-container>
    <ng-template #noBackButton>
        <app-page-heading
            [headingText]="listInfo.name"
            [buttons]="!IDParam || IDParam === accountService.currentUserID ? ['edit', 'forms_add_on'] : []"
            [imageURL]="IDParam && IDParam !== accountService.currentUserID ? listInfo.owner.pfp : null"
            (onIconClick)="onIconClick($event)"
            >
        </app-page-heading>
    </ng-template>
</ng-container>
<div class="list">
    <app-list-display
        [list]="listInfo"
        (onGiftInModal)="isModalOpen = $event"
    >
    </app-list-display>
</div>