<div *ngIf="list; else loadingGifts" class="list">
  <!-- If not friends with user -->
  <ng-container *ngIf="list.type === 'not-friends'; else error">
    <p>You are not friends with {{list.owner.displayName}}. You cannot view their list until you are friends.</p>
  </ng-container>
  <!-- If gifts failed to load -->
  <ng-template #error>
    <ng-container *ngIf="list.type === 'error'; else listDisplay">
      <p>Something went wrong. The list could not be loaded.</p>
    </ng-container>
  </ng-template>
  <!-- List display -->
  <ng-template #listDisplay>
    <!-- Display gifts -->
    <div *ngIf="list.giftsByUser; else noGifts" [ngClass]="{'gift-list': true, 'modal-open': isModalOpen}">
      <ng-container *ngFor="let giftByUser of list.giftsByUser | keyvalue">
        <!-- If is shopping-list -->
        <ng-container *ngIf="list.type === 'shopping'">
          <app-user-display
          [user]="giftByUser.value.user"
          icon="inventory_2"
          [onIconClick]="archiveShoppingListGiftsByUser.bind(this, giftByUser.value.user)"
          >
          </app-user-display>
          <dialog #archiveGifts?>
            <h3>Are you sure you want to archive all gifts for {{giftByUser.value.user.displayName}} on your shopping list?</h3>
            <p>This cannot be undone.</p>
            <div class="btn-wrap">
              <button>Archive</button>
              <button>Cancel</button>
            </div>
          </dialog>
          <hr>
        </ng-container>
        <ul>
          <li *ngFor="let gift of giftByUser.value.gifts | keyvalue">
            <app-gift-display
              class="gift"
              [gift]="gift.value"
              [checkType]="getCheckType(gift.value)"
              (giftClicked)="showInModal(gift.value)"
              >
            </app-gift-display>
          </li>
        </ul>
        <hr>
      </ng-container>
    </div>
    <!-- Gift details slide-over -->
    <app-gift-details-modal
      [gift]="giftInModal"
      [type]="list.type"
      [buttonType]="modalButtonType"
      [isShown]="isModalOpen"
      [errors]="modalErrors"
      (onButtonClick)="onModalButtonClick($event)"
      (onStatusUpdated)="updateStatus($event)"
      (onModalClose)="hideModal()"
      >
    </app-gift-details-modal>
    <!-- If no gifts -->
    <ng-template #noGifts>
      <p>{{noGiftsMessage}}</p>
    </ng-template>
  </ng-template>
</div>
<!-- Loading gifts -->
<ng-template #loadingGifts>
  <p>Loading gifts...</p>
</ng-template>