.gift {
  margin: 0;
  background: green;
}
.list-owner-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}
.list-owner-display img {
  border-radius: 50%;
  border: 2px solid black;
  width: 2.2em;
  margin-right: .5em;
}

hr {
  border: .5px solid black;
}

.gift-list {
  width: 100%;
  transition: all .7s ease-in-out;
}

@media (min-width: 800px) {
  .modal-open {
    width: calc(50% - .5em);
    transition: all .7s ease-in-out;
  }
}
