:host, .list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.gift {
  margin: 0;
  background: green;
}

.gift-list {
  overflow-y: auto; /* Allow vertical scrolling */
  overflow-x: hidden;
  flex: 1; /* Takes remaining space */
  margin: 0;
  padding: 0 1em 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  transition: all .3s ease-in-out;
}

@media (min-width: 800px) {
  .modal-open {
    width: calc(50% - .5em);
    transition: all .3s ease-in-out;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
}