<ng-container *ngIf="IDParam ; else noBackButton">
    <app-page-heading
        headingText="Wish List"
        [buttons]="IDParam === accountService.currentUserID ? ['forms_add_on']: []"
        (onIconClick)="router.navigate(['/wish-list/add-gift'])"
        (onBackButton)="location.back()"
        >
    </app-page-heading>
</ng-container>
<ng-template #noBackButton>
    <app-page-heading
        headingText="Wish List"
        [buttons]="['forms_add_on']"
        (onIconClick)="router.navigate(['/wish-list/add-gift'])"
        >
    </app-page-heading>
</ng-template>
<div class="list">
    <app-list-display [list]="listInfo"></app-list-display>
</div>