:host {
  font-size: 2em;
  text-align: center;
  background-color: #d64541;
  color: white;
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100vw;
  margin-bottom: .93em;
  box-shadow:
    0 0 0 .03em #26251d,
    0 0 0 .9em white,
    0 0 0 .93em #26251d;
}
