.header {
  font-size: 20px;
  text-align: center;
  background-color: #d64541;
  color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  box-shadow:
    0 0 0 1px #26251d,
    0 0 0 30px white,
    0 0 0 31px #26251d;
  /* border-radius: 0px 0px 50% 50%; */
}
