:host {
  text-align: center;
  background-color: #d64541;
  color: white;
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100vw;
  margin-bottom: 1.25em;
  box-shadow:
    0 0 0 .05em #26251d,
    0 0 0 1.2em white,
    0 0 0 1.25em #26251d;
}
