.gift-wrap {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.gift-name-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: .5px solid #26251d44;
}

.gift-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  padding: .8em 0 .8em 1em;
}

:host-context(li:last-of-type) .gift-name {
  border-bottom: none;
}

.gift-name-box:hover, .error {
  color: #d64541;
}

.isClaimedByUser {
  color: #4daf7c;
}