<div>
    <h2>Add friend</h2>
    <form (ngSubmit)="searchUsers(searchUserForm)" #searchUserForm="ngForm">
        <span class="material-symbols-outlined">search</span>
        <input id="searchedUser" type="text" placeholder="email" name="searchQuery" ngModel>
        <button type="submit">Search</button>
    </form>
    <ng-container *ngIf="searchResults">
        <app-user-display *ngFor="let user of searchResults"
            [user]="user"
            [icons]="getSearchIcons(user)"
        >
        </app-user-display>
    </ng-container>
</div>
<div>
    <h2>Friend requests</h2>
    <app-user-display *ngFor="let friendRequest of incomingFriendRequests"
        [user]="friendRequest"
        [icons]="getFriendRequestIcons(friendRequest)"
    >
    </app-user-display>
</div>