<ng-container *ngIf="group.giftExchangeMap; else createGiftExchange">
    <ng-container *ngIf="group.giftExchangeMap[currentUserID!] as user">
        <span>You are assigned to </span>
        <app-user-display
            [user]="user"
            [isInline]="true"
        />
        <span>. Don't tell anyone! Shh... 🤫</span>
    </ng-container>
</ng-container>
<ng-template #createGiftExchange>
    <button (click)="handleDefineGiftExchangeRestrictions()">Create Gift Exchange</button>
    <div [ngClass]="{'show': isShowModal, 'hide': !isShowModal}" class="backdrop">
        <div class="modal">
            <app-page-heading
                headingText="Gift exchange settings"
                (onBackButton)="showModal(false);"
            />
            <div class="content modal-container">
                    <span *ngFor="let error of modalErrorMessages" class="error">
                        <div><app-icon icon="error" [hover]="null" size="1.5em"></app-icon></div>
                        <p>{{error}}</p>
                    </span>
                <ng-container>
                    <app-gift-exchange-form
                        [members]="group.members!"
                        (onSetGiftExchangeRestrictions)="handleCreateGiftExchange($event)"
                        (onMappingErrors)="modalErrorMessages = $event"
                    />
                </ng-container>
                <div></div>
            </div>
        </div>
        <app-filler size="footer"></app-filler>
    </div>
</ng-template>