.user-display, .user-info, .icons-display {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-display {
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: .5em;
    width: 100%;
    padding-block: .5em;
}

.user-info-hover {
    cursor: pointer;
    &:hover {
        color: #d64541;
    }
}

p {
    margin-left: 10px;
}

img {
    border-radius: 50%;
    border: 2px solid black;
    width: 2.2em;
    margin-right: .5em;
}

button {
    background: none;
    border: none;
    color: white;
    height: 10px;
    font-size: 30px;
    position: relative;
    top: 0px;
}