.user-display, .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inline-user-display {
    background-color: transparent;
    display: inline-flex;
    vertical-align: text-bottom;
    line-height: 1.2;
    width: fit-content;
    padding: 0;
    img {
        width: 1em;
        margin-right: .3em;
    }
}

.block-user-display {
    background-color: cornsilk;
    display: flex;
    flex-grow: 1;
    padding-block: .5em;
    font-size: 1.2em;
    img {
        width: 2.2em;
        margin-right: .5em;
    }
}

.user-display {
    justify-content: space-between;
    font-weight: bold;
    border-radius: .5em;
}

.user-info-hover {
    cursor: pointer;
    &:hover {
        color: #d64541;
    }
}

p {
    margin-left: 10px;
}

img {
    border-radius: 50%;
    border: 1px solid #26251d;
}

button {
    background: none;
    border: none;
    color: white;
    height: 10px;
    font-size: 30px;
    position: relative;
    top: 0px;
}