<form (ngSubmit)="onSubmit(groupForm)" #groupForm="ngForm">
  <ng-container *ngIf="!isEditingMemberships">
    <label for="group">Group</label>
    <input 
      type="text"
      name="group"
      id="group"
      placeholder="Group *"
      required [(ngModel)]="nameVal"
    ><br>
    <label for="description">Description</label>
    <textarea
      name="description"
      id="description"
      placeholder="Description"
      [(ngModel)]="descriptionVal"
    ></textarea>
  </ng-container>
  <ng-container *ngIf="isEditingMemberships">
    <ng-container *ngFor="let member of group!.members">
      <app-user-display *ngIf="updatedMembershipStatuses[member.id] as updatedMembershipStatus"
        [user]="member"
        [icon]="membershipStatusIcons[updatedMembershipStatus ?? 'removed']"
        [onIconClick]="editMembershipStatus.bind(this, member)"
        [onClick]="editMembershipStatus.bind(this, member)"
      />
    </ng-container>
    <app-edit-group-membership-pop-up *ngIf="editingMembershipMember"
      [member]="editingMembershipMember"
      [updatedMembershipStatus]="updatedMembershipStatuses[editingMembershipMember.id] ?? 'removed'" 
      (onConfirm)="handlePopUpClose($event)"
    />
    <!-- new members being added -->
    <div *ngFor="let newMember of newMembers; let i = index; trackBy: trackByIndex" class="new-member">
      <app-pfp-select
        [friends]="getAvailableFriends(i)"
        name="friend{{i}}"
        required
        [(ngModel)]="newMembers[i]"
        (onSelectFriend)="onSelectFriend($event, i)"
      ></app-pfp-select>
      <app-icon
        icon="remove"
        (iconClicked)="removeNewMember(i)"
        title="Remove member"
      />
    </div>

    <!-- add new member button -->
    <div class="add-member">
      <span>Add Member</span>
      <app-icon
        icon="add"
        (iconClicked)="addNewMember()"
        title="Add member"
      />
    </div>

  </ng-container>
  <input
    type="submit"
    name="submit"
    id="submit"
    [value]="group ? isEditingGroup ? 'Save' : 'Update Memberships' : 'Create Group'"
    [disabled]="groupForm.invalid"
  >
</form>