<form (ngSubmit)="onSubmit(groupForm)" #groupForm="ngForm">
  <ng-container *ngIf="!isEditingMemberships">
    <label for="group">Group</label>
    <input 
      type="text"
      name="group"
      id="group"
      placeholder="Group *"
      required [(ngModel)]="nameVal"
    ><br>
    <label for="description">Description</label>
    <textarea
      name="description"
      id="description"
      placeholder="Description"
      [(ngModel)]="descriptionVal"
    ></textarea>
  </ng-container>
  <ng-container *ngIf="isEditingMemberships">
    <ng-container *ngFor="let member of group!.members">
      <app-user-display *ngIf="updatedMembershipStatuses[member.id] as updatedMembershipStatus"
        [user]="member"
        [icon]="membershipStatusIcons[updatedMembershipStatus ?? 'deleting']"
        [onIconClick]="editMembershipStatus.bind(this, member)"
        [onClick]="editMembershipStatus.bind(this, member)"
      />
    </ng-container>
    <app-edit-group-membership-pop-up *ngIf="editingMembershipMember"
      [member]="editingMembershipMember"
      [updatedMembershipStatus]="updatedMembershipStatuses[editingMembershipMember.id] ?? 'deleting'" 
      (onConfirm)="handlePopUpClose($event)"
    />
    <app-pfp-select *ngIf="group && nonMemberFriends && nonMemberFriends.length > 0"
      [friends]="nonMemberFriends"
      name="friend"
      required [(ngModel)]="selectedFriend"
    ></app-pfp-select>
  </ng-container>
  <input
    type="submit"
    name="submit"
    id="submit"
    [value]="group ? isEditingGroup ? 'Save' : 'Update Membership' : 'Create Group'"
    [disabled]="groupForm.invalid"
  >
</form>