<app-page-heading headingText="Search Users" (onBackButton)="location.back()"></app-page-heading>
<div class="content">
    <form (ngSubmit)="onFormSubmit(searchUserForm)" #searchUserForm="ngForm" class="sticky">
        <div class="input">
            <span class="material-symbols-outlined">search</span>
            <input id="searchedUser" type="text" placeholder="Search" name="searchQuery" [(ngModel)]="searchQuery">
        </div>
    </form>
    <hr>
    <div class="content" *ngIf="searchResults">
        <ng-container *ngFor="let user of searchResults">
            <app-user-display
                [user]="user"
            >
            </app-user-display>
            <hr>
        </ng-container>
    </div>
</div>