<div *ngIf="gifts; else loadingGifts">
<!-- Display list owner -->
  <img [src]="listOwner?.['pfp']" alt="">
  <h2>{{listOwner?.['displayName']}}</h2>
  <!-- Display gifts -->
  <div *ngIf="gifts.length > 0; else noGifts">
    <app-gift-display
      *ngFor="let gift of gifts"
      class="gift"

      [gift]="gift"
      (giftClicked)="highlightGift(gift)"
      >
    </app-gift-display>
  </div>
  <!-- If no gifts -->
  <ng-template #noGifts>{{listOwner?.['displayName']}} has no gifts on their wish list.</ng-template>
</div>
<!-- Loading gifts -->
<ng-template #loadingGifts>Loading gifts...</ng-template>

<div *ngIf="highlightedGift">
  <app-gift-details-modal
    [gift]="highlightedGift"
    (closeModal)="unhighlightGift()"
    (claimGift)="claimGift(highlightedGift)"
    >
  </app-gift-details-modal>
</div>