<app-page-heading headingText="Edit Group" (onBackButton)="location.back()"></app-page-heading>
<div class="content" *ngIf="editingGroup">
    <app-group-form
        [group]="editingGroup"
        (onFormSubmit)="location.back()"
        [isEditingGroup]="true"
        (onFormSubmit)="handleFormSubmit($event)"
        >
    </app-group-form>
    <app-pop-up
        class="btn-red"
        buttonText="Delete Group"
        buttonIcon="delete_forever"
        title="Are you sure you want to delete this group?"
        body="This cannot be undone."
        confirmText="Delete"
        (onConfirm)="deleteGroup()"
    ></app-pop-up>
</div>