:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1em 0 0 0;
}

.back-button {
    position: absolute;
    top: 1em;
    left: 0;
}

.pfp {
    position: relative;
    display: inline-block;
    img {
        display: block;
        width: 80px;
        height: 80px;
        border: 1px solid #26251d;
        border-radius: 50%;
        cursor: pointer;
    }
    .mood {
        position: absolute;
        top: 0;
        right: 0;
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        cursor: pointer;
        .emoji-bg {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #26251d44;
            position: fixed;
            inset: 0;
        }
    }
}

.friend-request {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4daf7c;
    font-size: .8em;
    text-justify: center;
    background-color: #4daf7c44;
    border: 1px solid #4daf7c;
    border-radius: .5em;
    padding: .5em;
    p {
        margin: .5em;
    }
}

dialog {
    min-width: 70vw;
    overflow-y: auto;
}
.dialog-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bio {
    margin: 1em 0;
}