<app-page-heading headingText="Secret Santa" [buttons]="['person_add']" (onIconClick)="router.navigate(['/secret-santa/add-group'])"></app-page-heading>
<div class="content">
  <ng-container *ngIf="groups; else loadingGroups">
    <ng-container *ngIf="groups.length > 0; else noGroups">
      <ng-container *ngFor="let group of groups">
        <div>
          <img [src]="group.pfp" [alt]="group.name + ' profile picture'">
          <span>{{group.name}}</span>
        </div>
        <hr>
      </ng-container>
    </ng-container>
    <ng-template #noGroups>
      <p>{{noGroupsMessage}}</p>
    </ng-template>
  </ng-container>
  <ng-template #loadingGroups>
    <p>Loading Groups list...</p>
  </ng-template>
</div>
