.backdrop {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .2);
}
.modal {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background: white;
  border: 5px solid black;
  border-radius: .2em;
}
.close {
  position: relative;
}