<ng-container *ngIf="group; else loadingGroup" class="list">
    <ng-container *ngIf="!showBackButton; else noBackButton">
    <app-page-heading
        [headingText]="group.name"
        [buttons]="headerButtons"
        (onIconClick)="onIconClick($event)"
        >
    </app-page-heading>
    </ng-container>
    <ng-template #noBackButton>
    <app-page-heading
        [headingText]="group.name"
        [buttons]="headerButtons"
        (onIconClick)="onIconClick($event)"
        (onBackButton)="location.back()"
        >
    </app-page-heading>
    </ng-template>
    <div class="content">
        <div class="two-col">
            <div>
                <div *ngIf="currentUserMembershipStatus === 'pending'" class="group-request">
                    <p>You've been invited to join this group! Would you like to join?</p>
                    <div class="btn-wrap">
                    <button (click)="acceptGroupRequest()"><app-icon icon="check" [hover]="false" size="20px"></app-icon>Accept</button>
                    <button (click)="rejectGroupRequest()"><app-icon icon="close" [hover]="false" size="20px"></app-icon>Reject</button>
                    </div>
                </div>
                <p *ngIf="group.description">
                    <strong>Description:</strong><br>
                    <span>{{group.description}}</span>
                </p>
                <app-gift-exchange *ngIf="currentUserMembershipStatus === 'admin'"
                    [group]="group"
                    (onShowModal)="showBackButton = !$event"
                />
            </div>
            <div>
                <h3>Members</h3>
                <hr/>
                <ng-container *ngFor="let member of group.members">
                    <app-user-display *ngIf="currentUserMembershipStatus === 'admin' || member.membershipStatus !== 'pending'"
                        [user]="member"
                        [icon]="membershipStatusIcons[member.membershipStatus]"
                        [onIconClick]="null"
                    />
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loadingGroup>
  <p>Loading group...</p>
</ng-template>
