<app-page-heading headingText="Edit List" (onBackButton)="location.back()"></app-page-heading>
<div class="content" *ngIf="editingList">
    <app-list-form
        [list]="editingList"
        (onFormSubmit)="location.back()"
        >
    </app-list-form>
    <app-pop-up
        (onConfirm)="cloneList(clonedListName.value)"
        triggerText="Clone List"
        triggerIcon="content_copy"
        title="Are you sure you want to add a public copy of this list to your wish lists?"
        body="All gifts will be unclaimed on the clone."
        confirmText="Clone"
    >
        <ng-container popup-body>
            <label>Cloned List Name</label>
            <input #clonedListName type="text" [value]="editingList.name + ' Copy'"/>
        </ng-container>
    </app-pop-up>
    <ng-container *ngIf="editingList.isArchived; else notArchived">
        <app-pop-up
            triggerText="Unarchive List"
            triggerIcon="inventory_2"
            title="Are you sure you want to unarchive this list?"
            body="Unarchived lists can be seen by your friends."
            confirmText="Unarchive"
            (onConfirm)="setListArchive(false)"
        ></app-pop-up>
    </ng-container>
    <ng-template #notArchived>
        <app-pop-up
            triggerText="Archive List"
            triggerIcon="inventory_2"
            title="Are you sure you want to archive this list?"
            body="Archived lists can only be seen by you."
            confirmText="Archive"
            (onConfirm)="setListArchive(true)"
        ></app-pop-up>
    </ng-template>
    <app-pop-up
        class="btn-red"
        triggerText="Delete List"
        triggerIcon="delete_forever"
        title="Are you sure you want to delete this list?"
        body="This cannot be undone."
        confirmText="Delete"
        (onConfirm)="deleteList()"
    ></app-pop-up>
</div>