/* Great Vibes, Tangerine, Parisienne, Style Script */

/* Mountains of Christmas */
@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap");
/* Tangerine */
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
/* Google Icons */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
/* Global */

* {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
}

/* Forms */
fieldset {
  border: none;
}

input[type="text"], input[type="url"], input[type="file"], textarea, fieldset, .input {
  width: 100%;
  margin: .3em 0;
  border: 1px solid black;
  border-radius: .5em;
  padding: .5em;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* ... */
h1,
h2 {
  font-family: "Tangerine";
}
h1 {
  font-size: 2em;
  margin: .5em 0;
}
h2 {
  font-size: 2.5em;
  margin: .2em 0;
}

hr {
  border: .5px solid #26251d44;
  margin: 0;
}

body {
  background-color: cornsilk;
  margin: 0;
}

/* Buttons */
button, input[type="submit"], .btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: .5em;
    padding: .5em;
    margin: .5em 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    app-icon {
      margin-right: .5em;
    }

    &:hover {
      color: white;
      background-color: black;
      cursor: pointer;
    }
}

input:disabled, .btn-disabled {
    background-color: #ccc;
    color: #444;
    opacity: .8;
    border: 1px solid #444;
    border-radius: .5em;
    padding: .5em;
    margin: 0 0 10px 0;
    &:hover {
      color: #444;
      background-color: #ccc;
      cursor: auto;
    }
}

button.btn-red, app-pop-up.btn-red button:first-of-type {
  background-color: white;
  color: #d64541;
  border: 1px solid #d64541;
  &:hover {
    background-color: #d64541;
    color: white;
  }
}

.btn-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1em;
  button {
    flex-grow: 1;
  }
}

.content {
  overflow-y: auto; /* Allow vertical scrolling */
  flex: 1; /* Takes remaining space */
  margin: 0;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
}