<div [ngClass]="{'show': isShown, 'hide': !isShown}" class="backdrop">
  <div *ngIf="gift" class="modal">
    <app-page-heading
      [headingText]="gift.name"
      [buttons]="headingButtons"
      (onIconClick)="closeModal()"
      >
    </app-page-heading>
    <p>{{gift.details}}</p>
    <a [href]="gift.url">{{gift.url}}</a>
    <!-- Shopping list status bar -->
    <div *ngIf="type === 'shopping'" class="status-display">
      <div class="line">
        <div *ngFor="let status of statuses" class="node" [style]="status.name === currentStatus ? 'color: green' : ''">
          <app-icon
            [icon]="status.icon"
            [hover]="false"
            (iconClicked)="onStatusUpdated.emit(status.name)"
            [title]="status.name | titlecase"
            >
          </app-icon>
        </div>
      </div>
    </div>
    <!-- Bottom button (edit/claim/unclaim/delete) -->
    <div class="bottom-button-wrap">
      <span *ngIf="buttonText === 'This gift has already been claimed.'; else modalButton">{{buttonText}}</span>
      <ng-template #modalButton>
        <button class="bottom-button" (click)="onButtonClick.emit(true)">{{buttonText}}</button>
      </ng-template>
    </div>