.show {
  transition: all .7s ease-in-out;
  transform: translateX(-3px);
  width: 100%;
}

.hide {
  transition: all .7s ease-in-out;
  transform: translateX(100%);
  width: 300%;
}

.backdrop {
  position: absolute;
  inset: 0;
  align-items: center;
  background: cornsilk;
  border-left: 3px solid black;
}

.modal {
  display: flex;
  flex-direction: column;
  margin-top: 8em;
  padding: 1em;
}

@media (min-width: 800px) {
  .modal {
    width: 50%; /* Modal will take half of the screen width */
  }
  .show {
    transform: translateX(50%)
  }
}

.close {
  position: relative;
}

.status-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: .5em;
  height: .5em;
  width: 90%;
  background: white;
  margin-top: 1em;
}

.node {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.node:hover {
  scale: 1.1;
}
.node app-icon {
  height: 30px;
}

.status-fill {
  color: green;
}