:host {
    padding: 1em;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: cornsilk;
    border-bottom: .5px solid #26251d44;
}
h2 {
    margin: 0;
}
app-icon {
  color: #26251d;
  padding: 0 0 0 .5em;
}

.heading-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}