<div class="heading-text">
  <app-icon *ngIf="onBackButton.observed"
    icon="arrow_back_ios"
    (iconClicked)="onBackButton.emit(true)"
    >
  </app-icon>
  <img *ngIf="imageURL"
    [src]="imageURL"
    alt="heading image"
  >
  <h2>{{headingText}}</h2>
</div>
<span *ngIf="buttons">
  <ng-container *ngFor="let icon of buttons; let i = index">
    <app-badge
      [badgeValue]="buttonBadges![i]"
    >
      <app-icon
        [icon]="icon"
        (iconClicked)="onIconClick.emit(icon)"
        >
      </app-icon>
    </app-badge>
  </ng-container>
</span>