:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.centered {
  display: flex;
  justify-content: center;
}

.link-style {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

.link-style:hover {
  color: darkblue;
}